
*{
  box-sizing: border-box;
}

/* 1. Main Structure
   ========================================================================== */

body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

.banner{
  height: 5em;
  background: white;
  color:#666;
}

.footer{
  height: 5em;
  background:#666;
  color:#fff;
  min-height: 8em;
}

.footer a{
  color:#fff;
}

.banner-inner{
  margin: 0 auto;
  width: 70em;
  padding: 1em;
}

.footer-inner{
  margin: 0 auto;
  width: 77em;
  padding: 1em;
  font-size: 0.9em;
}

.main{
  background: #ecfaef;
  width:100%;
  height: 100%;
  padding-bottom: 4em;
}

.main a{
  color:#e37262;
}

.main-inner{
  margin: 0 auto;
  padding: 1em;
  width: 70em;
}

.map-component { 
  height: 48em; 
  width: 60em;
}

/* 2. Type
   ========================================================================== */

h1{
  padding:0;
  margin:0; 
}

P{
  padding: 0;
  margin: 0 0 1.67em 0;
}

/* 3. Icons
   ========================================================================== */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
  margin-right:0.2em;
}